[submodule "programs/CKGQA-modelbuild"]
	path = programs/CKGQA-modelbuild
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/sagemaker-CKGQA-p-kiqtyrraeiec-modelbuild
[submodule "programs/CKGQA-modeldeploy"]
	path = programs/CKGQA-modeldeploy
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/sagemaker-CKGQA-p-kiqtyrraeiec-modeldeploy
